<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Test</title>
</head>
<body>
    <h1>Test edit</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
        <a href="{% url 'testdetail' test.pk %}">Cancel</a>
    </form>
    <form method="post" action="{% url 'testdelete' test.pk %}">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('Delete this Test?')">Delete</button>
    </form>
</body>
</html>